// Page Variables


//COLORS
$main-color: #D2B356;
$background-color: #F2F2F2;


//FONTS
$h1-desktop: 39px;
$h1-tablet: 28px;

$h3-desktop: 20px;
$h3-tablet: 18px;

$p-desktop: 14px;
$p-tablet: 12px;



//RESPONSIVE

//max tablet size
$max-tablet: 767px;
$max-mobile: 543px;