/*************************
** styles madebymomoko 	**
*************************/
@import "variables.scss";
@import "mixins.scss";

//Global components

div[class^="col-"]{
	@media(min-width: 992px){
		padding-left: 20px;
		padding-right: 20px;
	}
}

body{
	position: relative;
}

nav, header, section{
	@include transition(filter 1s);
}

h1{
	@include headerfont;
	font-size: $h1-desktop;
	margin-bottom: 22px;

	@media (max-width: $max-tablet){
		font-size: $h1-tablet;
		margin-bottom: 15px;
	}

	&::after{
		background: $main-color;
	    content: "";
	    display: block;
	    width: 40px;
	    height: 4px;
	    margin-top: 17px;

	    @media (max-width: $max-tablet){
	    	margin-top: 12px;
	    }
	}
}


h3{
	@include headerfont;
	font-size: $h3-desktop;
	margin-bottom: 12px;

	@media (max-width: $max-tablet){
		font-size: $h3-tablet;
		margin-bottom: 10px;
	}
}

p{
	@include textfont;
	font-size: $p-desktop;
	margin-bottom: 21px;

	@media (max-width: $max-tablet){
		font-size: $p-tablet;
		margin-bottom: 18px;
	}
}

section:nth-child(odd){
	background-color: $background-color;
}

.container, .container-fluid{
	//padding is double the height of h1
	padding-top: 85px;
	padding-bottom: 75px;

	@media (max-width: $max-tablet){
		padding-top: 61px;
		padding-bottom: 53px;
	}
}

.container{
	@media (max-width: $max-mobile){
		padding-left: 10%;
		padding-right: 10%;
	}
}

.fa{
	color: $main-color;
	margin-bottom: 5px;
}

//HELPER CLASSES

//find responsive solution
.last-elem{
	margin-bottom: 0;
}

.hidden{
	display: none;
}

.blur{
	filter: blur(5px);
}

//NAVIGATION STYLES
.navbar{
	padding: 0;

	.navbar-toggler{
		margin: .5rem 0;
	}

	.navbar-collapse{

		.navbar-nav{
			background: rgba(255,255,255,0.5);
			padding: 0.5rem 1rem;
		}

		@media(min-width: $min-desktop){

	    	.navbar-nav{
				padding: 1rem 0 1rem 1rem;
	    	}

			a{
				background: rgba(255,255,255,0.5);
			    margin: -15px 0 -30px;
			    padding-bottom: 25px;
			}
		}
	}
}

//SECTION STYLES

//home
#home{
	height: 70vh; //remember iPhone 5
	background: url('../img/home_bg.jpg');
	@include full-bg-img;
    background-attachment: fixed;

	.container{
		padding-top: calc(35vh - 135px);

		.outerBox{
			background: rgba(255,255,255,0.5);
			padding: 17px;

			.innerBox{
				background: rgba(255,255,255,0.5);	
				margin-top: -35px;
				margin-left: -35px;	
				padding-top: 80px;
				padding-left: 20px;
				padding-bottom: 40px;
			}
		}

		h1{
			&::after{
				background: $main-color;
			    content: "";
			    display: block;
			    width: 40px;
			    height: 4px;
			    margin: 0 auto;
			    margin-top: 17px;

			    @media (max-width: $max-tablet){
			    	margin-top: 12px;
			    }
			}

			&:nth-child(2)::after{
				content: none;
			}
		}
	}
}


//ioffer
#iofferImg{
	height: 40vh;
	background-image: url('../img/seedling.jpeg');
	@include full-bg-img;
    background-attachment: fixed;
}


//portfolio
#portfolio{
	.imgContainer{
		padding-top: 0;

		.row{
			height: 14.65vw;
			padding-bottom: 75px;
			@include box-shadow( 0 5px 20px 0 #7d7c7c );

			@media(max-width: $max-tablet){
				height: 29.38vw;
			}
			@media(max-width: $max-mobile){
				height: 40.19vw;
			}

			.portfolioImg{
				height: 14.65vw;
				margin-bottom: 43px;
		    	cursor: pointer;
				@include full-bg-img;
				@include transition(all 0.5s);

				&#item1{
					background-image: url('../img/portfolio/bragi_thedash.jpg');
				}
				&#item2{
					background-image: url('../img/portfolio/vertemo.jpg');
				}
				&#item3{
					background-image: url('../img/portfolio/askarizeren.jpg');
				}
				&#item4{
					background-image: url('../img/portfolio/vertemo.jpg');
				}

				@media(max-width: $max-tablet){
				
					height: 29.38vw;
					margin-bottom: 29px;

					&#item1{
						background-image: url('../img/portfolio/bragi_thedash_tablet.jpg');
					}
					&#item2{
						background-image: url('../img/portfolio/vertemo_tablet.jpg');
					}
					&#item3{
						background-image: url('../img/portfolio/askarizeren_tablet.jpg');
					}
					&#item4{
						background-image: url('../img/portfolio/vertemo_tablet.jpg');
					}
				}

				@media(max-width: $max-mobile){

					height: 40.19vw;

					&#item1{
						background-image: url('../img/portfolio/bragi_thedash_mobile.jpg');
					}
					&#item2{
						background-image: url('../img/portfolio/vertemo_mobile.jpg');
					}
					&#item3{
						background-image: url('../img/portfolio/askarizeren_mobile.jpg');
					}
					&#item4{
						background-image: url('../img/portfolio/vertemo_mobile.jpg');
					}
				}

				//change size on hover
				&.col-4{
					height: 19.33vw;
					margin-top: -2.5vw;
					@include box-shadow( 20px 15px 35px 6px #bfbfbf );
				}
			}
		}
	}
}


//toolbox
#toolbox{
	.imgBox{ 
		margin-top: 20px;

		img{
			width: 10%;
			padding-right: 20px;
			float: left;

			@media(max-width: $max-tablet){
				width: 16%;
			}

			@media(max-width: $max-mobile){
				width: 32%;
				padding-bottom: 20px;
			}

			&.cover{
				display: block;
			}
			&.unCover{
				opacity: 0;
				margin-left: -10%;
				@include transition(0.8s opacity);

				@media(max-width: $max-tablet){
					margin-left: -16%;
				}

				@media(max-width: $max-mobile){
					margin-left: -32%;
				}
			}
			&.unCover:hover{
				opacity: 1;
			}
		}
	}
}


//contact
#contactImg{
	height: 40vh;
	background-image: url('../img/write_mail.jpg');
	@include full-bg-img;
    background-attachment: fixed;
}

//impressum
#impressum{
	.container{
		padding-top: 20px;
		padding-bottom: 20px;

		p{
			margin: 0;
		}
	}
}

//PORTFOLIO STYLES
.portfolioPage{
	background-color: rgba(255,255,255,0.7);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	z-index: 1040;
    overflow-y:scroll;
    overflow-x:hidden;
	filter: blur(0);

    .close{    
    	position: absolute;
	    width: 75px;
	    height: 75px;
	    background-color: transparent;
	    top: 25px;
	    right: 0;
	    cursor: pointer;

    	.closeLeft{
    		height: 75px;
		    width: 1px;
		    margin-left: 35px;
		    background-color: #222;
			@include transform( rotate(45deg) ); 
		    z-index: 1051;

    		.closeRight{
			    height: 75px;
			    width: 1px;
			    background-color: #222;
			    @include transform( rotate(90deg) ); 
			    z-index: 1052;
    		}
    	}
    }

    .itemWebsite img{
    	width: 100%;
    	padding: 70px 0 0 70px;
    }
}