/*************************
** styles madebymomoko 	**
*************************/
@import "variables.scss";
@import "mixins.scss";

//Global components

body{
	position: relative;
	overflow-x: hidden;
}

.row {
	@media(min-width: 992px){
		margin-right: -30px;
	 	margin-left: -30px;

		> .col,
		> [class*="col-"] {
			padding-right: 30px;
		  	padding-left: 30px;
		}
	}
}

nav, header, section{
	@include transition(filter 1s);
}

h1{
	@include headerfont;
	font-size: $h1-desktop;
	margin-bottom: 22px;

	@media (max-width: $max-tablet){
		font-size: $h1-tablet;
		margin-bottom: 15px;
	}

	&::after{
		background: $main-color;
	    content: "";
	    display: block;
	    width: 40px;
	    height: 4px;
	    margin-top: 17px;

	    @media (max-width: $max-tablet){
	    	margin-top: 12px;
	    }
	}
}


h3{
	@include headerfont;
	font-size: $h3-desktop;
	margin-bottom: 12px;

	@media (max-width: $max-tablet){
		font-size: $h3-tablet;
		margin-bottom: 10px;
	}
}

p{
	@include textfont;
	font-size: $p-desktop;
	margin-bottom: 21px;

	@media (max-width: $max-tablet){
		font-size: $p-tablet;
		margin-bottom: 18px;
	}
}

section:nth-child(odd){
	background-color: $background-color;
}

.container, .container-fluid{
	//padding is double the height of h1
	padding-top: 85px;
	padding-bottom: 75px;

	@media (max-width: $max-tablet){
		padding-top: 61px;
		padding-bottom: 53px;
	}
}

.container{
	@media (max-width: $max-mobile){
		padding-left: 10%;
		padding-right: 10%;
	}
}

.fa{
	color: $main-color;
	margin-bottom: 5px;
}

.goto{
	border: 2px solid $main-color;
	background: transparent;
	border-radius: 0;
	@include transition(background 0.5s);
	cursor: pointer;
	@include headerfont;
	font-size: $h3-desktop;

	@media(max-width: $max-tablet){
		font-size: $h3-tablet;
	}

	&:hover{
		background: $main-color;
	}
}

//HELPER CLASSES

//find responsive solution
.last-elem{
	margin-bottom: 0;
}

.hidden{
	display: none;
}

.blur{
	overflow: hidden;

	nav, #ioffer, #portfolio, #toolbox{
		filter: blur(5px);		
	}
}

.noMargin{
	margin: 0;
}


//NAVIGATION STYLES
.navbar{
	padding: 0;

	.navbar-toggler{
		margin: .5rem 0;
		border-radius: 1px;
    	background: rgba(255,255,255,0.7);
	}
	button:focus {
	    outline-color: $main-color;
	}

	.navbar-collapse{

		.navbar-nav{
			background: rgba(255,255,255,0.5);
			padding: 0.5rem 1rem;
		}

		@media(min-width: $min-desktop-sm){

	    	.navbar-nav{
				padding: 1rem 0 1rem 1rem;
	    	}

			a{
				background: rgba(255,255,255,0.5);
			    margin: -15px 0 -30px;
			    padding-bottom: 25px;
			}
		}
	}
}

//SECTION STYLES

//home
#stars{
    	position: absolute;
    	width: 100%;
    	height: 70vh;
    	background: url('../img/night-stars.png');
    	@include full-bg-img;
    	background-attachment: fixed;
    	opacity: 0;

}
#home{
	height: 70vh; //remember iPhone 5
	/* mixin does not cover all options, necessary? */
	@include linear-gradient(to bottom, rgba(123,157,194,1) 0%, rgba(144,170,193,1) 8%, rgba(220,214,190,1) 49%, rgba(254,231,163,1) 66%, rgba(249,161,139,1) 75%);
	@include full-bg-img;
	@include transition(background 0.5s);
    background-attachment: fixed;

	.container{
		padding-top: calc(35vh - 135px);

		.headerContainer{
			margin-left: 20px;

			.outerBox{
				background: rgba(255,255,255,0.5);
				padding: 17px;

				.innerBox{
					background: rgba(255,255,255,0.5);	
					margin-top: -35px;
					margin-left: -35px;	
					padding-top: 80px;
					padding-left: 20px;
					padding-bottom: 40px;
				}
			}

			h1{
				&::after{
					background: $main-color;
				    content: "";
				    display: block;
				    width: 40px;
				    height: 4px;
				    margin: 0 auto;
				    margin-top: 17px;

				    @media (max-width: $max-tablet){
				    	margin-top: 12px;
				    }
				}

				&:nth-child(2)::after{
					content: none;
				}
			}
		}
	}
}

//icando
#icando{
	.fa{
		margin-top: 20px;
	}
}

//ioffer
#iofferImg{
	height: 40vh;
	background-image: url('../img/seedling-blass.jpg');
	@include full-bg-img;
    background-attachment: fixed;
    @media(max-width: $max-tablet){
		background-image: url('../img/seedling-mobile.jpg');
		@include full-bg-img;
	    background-attachment: fixed;
    }
}


//portfolio
#portfolio{
	.imgContainer{
		padding-top: 0;
		padding-bottom: 100px;

		.row{
			height: 14.65vw;
			@include box-shadow( 0 5px 20px 0 #7d7c7c );

			@media(max-width: $max-tablet){
				height: 29.38vw;
			}
			@media(max-width: $max-mobile){
				height: 40.19vw;
			}

			.portfolioImg{
				height: 14.65vw;
				margin-bottom: 43px;
		    	cursor: pointer;
				@include full-bg-img;
				@include transition(all 0.5s);

				&#item1{
					background-image: url('../img/portfolio/bragi_thedash.jpg');
				}
				&#item2{
					background-image: url('../img/portfolio/vertemo.jpg');
				}
				&#item3{
					background-image: url('../img/portfolio/askarizeren.jpg');
				}
				&#item4{
					background-image: url('../img/portfolio/madebymomoko.jpg');
				}

				@media(max-width: $max-tablet){
				
					height: 29.38vw;
					margin-bottom: 29px;

					&#item1{
						background-image: url('../img/portfolio/bragi_thedash_tablet.jpg');
					}
					&#item2{
						background-image: url('../img/portfolio/vertemo_tablet.jpg');
					}
					&#item3{
						background-image: url('../img/portfolio/askarizeren_tablet.jpg');
					}
					&#item4{
						background-image: url('../img/portfolio/madebymomoko_tablet.jpg');
					}
				}

				@media(max-width: $max-mobile){

					height: 40.19vw;

					&#item1{
						background-image: url('../img/portfolio/bragi_thedash_mobile.jpg');
					}
					&#item2{
						background-image: url('../img/portfolio/vertemo_mobile.jpg');
					}
					&#item3{
						background-image: url('../img/portfolio/askarizeren_mobile.jpg');
					}
					&#item4{
						background-image: url('../img/portfolio/madebymomoko_mobile.jpg');
					}
				}

				//change size on hover
				&.col-4{
					height: 19.33vw;
					margin-top: -2.5vw;
					@include box-shadow( 20px 15px 35px 6px #bfbfbf );
				}
			}
		}
	}
}


//toolbox
#toolbox{
	.imgBox{ 
		margin-top: 20px;

		.col-md, .col-sm-3, .col-4{
			padding: 0 5px;

			img{
				width: 100%;
				@media(max-width: $max-mobile){
					padding: 0 10px;
				}
				@media(max-width: $max-tablet){
					padding: 0 6px;
				}

				&.unCover{
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					padding: 0 5px;
					@include transition(opacity 0.8s,  padding 0.8s);
				}
				&.unCover:hover{
					opacity: 1;
					padding: 0 4px;
				}
			}

			p{
				margin-top: 8px; 
				text-align: center;
				font-size: 13px;
				@media(max-width: $max-mobile){
					margin-top: 0;
				}
			}
		}
	}
}


//contact
#contactImg{
	height: 40vh;
	background-image: url('../img/write_mail.jpg');
	@include full-bg-img;
    background-attachment: fixed;
}

//impressum
#impressum{
	.container{
		padding-top: 20px;
		padding-bottom: 20px;

		p{
			margin: 0;
			cursor: pointer;
		}
	}
}

//PORTFOLIO STYLES
.portfolioPage{
	background-color: rgba(255,255,255,0.9);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	z-index: 1040;
    overflow-y:scroll;
    overflow-x:hidden;
	filter: blur(0);

    .close{    
    	position: absolute;
	    width: 75px;
	    height: 75px;
	    background-color: transparent;
	    top: 25px;
	    right: 0;
	    cursor: pointer;
	    z-index: 1090;

    	.closeLeft{
    		height: 75px;
		    width: 1px;
		    margin-left: 35px;
		    background-color: #222;
			@include transform( rotate(45deg) ); 

    		.closeRight{
			    height: 75px;
			    width: 1px;
			    background-color: #222;
			    @include transform( rotate(90deg) ); 
    		}
    	}
    }

	.imgBox{ 

		img{
			width: 33%;
			padding-right: 20px;
			float: left;
			margin-bottom: 21px; 	//like p, maybe create variable@media (min-width: 768px)

			@media (max-width: $max-tablet){
				margin-bottom: 18px;
			}

			&.cover{
				display: block;
			}
			&.unCover{
				opacity: 0;
				margin-left: -33%;
				@include transition(0.8s opacity);

				&:hover{
					opacity: 1;
				}
			}
		}
	}

	.fa{
	    position: relative;
		margin-right: 10px;
	    bottom: -5px;
	}

	a{
		color: black;
		text-decoration: none;
		@include headerfont;
		font-size: $h3-desktop;

		@media(max-width: $max-tablet){
			font-size: $h3-tablet;
		}
	}

	.itemImage{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		margin-top: 155px;
		margin-bottom: 75px;
		padding: 0;
		@include box-shadow( 0 5px 20px 0 #7d7c7c );
		overflow-y:scroll;
		overflow-x:hidden;
		&::-webkit-scrollbar { 
		    display: none; 
		}

		img{
			width: 100%;
			&::-webkit-scrollbar { 
			    display: none; 
			}
		}
	}

    //for two page view
    .itemImageMult{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		margin-top: 155px;
		margin-bottom: 75px;
		padding: 0;

	    .multipleImg{
	    	position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			@include box-shadow( 0 5px 20px 0 #7d7c7c );
			overflow-y:scroll;
			overflow-x:hidden;
			&::-webkit-scrollbar { 
			    display: none; 
			}
	    	width: 65%;
    		margin: 10% 0;
    		z-index: 1050;
    		@include transition(all 0.5s);

			img{			
				width: 100%;
				&::-webkit-scrollbar { 
				    display: none; 
				}
			}

			&.leftImg{
				margin: 10% 35% 10% 0;
			}

			//for hover over different img
			&.itemImageLarge{
				width: 85%;
			}
			&.leftImg.itemImageLarge{
				margin: 0 15% 0 0;
				animation: moveItLeft 0.7s;
				z-index: 1060;
			}

			&.rightImg.itemImageLarge{
				margin: 0;
				z-index: 1060;
			}

			&.leftImg.itemImageSmall{
				animation: moveItRight 0.7s;
			}
	    }
    }

    @keyframes moveItLeft{
    	0%{
			margin: 10% 35% 10% 0;
			z-index: 1050;
    	}
    	55%{
    		margin: 10% 65% 8% 0;
    	}
    	75%{
			margin: 0 17% 5% 0;
			z-index: 1060;
    	}
    	80%{
			margin: 0 14% 3% 0;
			z-index: 1060;
    	}
    	100%{
			margin: 0 15% 0 0;
			z-index: 1060;
    	}
    }

    @keyframes moveItRight{
    	0%{
			margin: 0 15% 0 0;
			z-index: 1061;
    	}
    	55%{
			margin: 5% 65% 2% 0;
			z-index: 1061;
    	}
    	75%{
    		margin: 10% 40% 4% 0;
    	}
    	80%{
			margin: 10% 34% 6% 0;
			z-index: 1050;
    	}
    	100%{
			margin: 10% 35% 10% 0;
			z-index: 1050;
    	}
    }
}